.myproj-head {
  margin: 30px 0 30px 0;
}

.option-container {
  margin: auto 0;
}
.myproj-head {
  margin: 30px 0 30px 0;
}
.active-btn svg {
  margin-right: 20px;
}
.project-card-container {
  display: grid;
  grid-gap: 30px;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  padding-bottom: 25px;
}
@media only screen and (max-width: 850px) {
  .project-card-container {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  @media only screen and (max-width: 400px) {
    .project-card-container {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
    .myproj-head .option-container {
      display: none;
    }
  }
}
